.card {
    display: flex;
    flex-direction: column;

    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .5s;
    transition-delay: .1s;
    transition-property: all;
    margin: 10px;
    max-width: 350px;

    &-background {
        height: 450px;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;

        &-img {
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center center;
            border-radius: 1.5rem;
        }
    }

    &-title {
        margin: auto;
        font-size: 33px;
        font-weight: 900;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &-description {
        font-size: 18px;
        font-weight: 300;
        white-space: pre-line;
        line-height: 30px;
        text-align: center;
    }
}